.constructIcon,
.rectangleDiv {
  position: absolute;
  top: 13.69px;
  left: 92.93px;
  border-radius: var(--br-3xs);
  width: 167.07px;
  height: 29.07px;
}
.rectangleDiv {
  top: 36.84px;
  left: 262.33px;
  background-color: var(--color-turquoise);
  width: 5.86px;
  height: 5.93px;
}
.designIcon {
  position: absolute;
  top: 6.91px;
  left: 91.79px;
  border-radius: 0.4px;
  width: 42.03px;
  height: 13.31px;
}
.cIcon {
  position: absolute;
  top: 6.86px;
  left: 56.98px;
  border-radius: var(--br-3xs);
  width: 33.32px;
  height: 35.9px;
}
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 49.63px;
  height: 49.63px;
}
.designConstructLogoDiv {
  position: relative;
  width: 100%;
  height: 49.63px;
}
